
html
  head
    title=id

    script(src="/lib/react.development.js")
    script(src="/lib/react-dom.development.js")
    script(src="http://localhost:8001/bundle.js")

  body
    #relatedProduct
    script.
      ReactDOM.render(
        React.createElement(RelatedProduct, {id: #{id}}),
        document.getElementById('relatedProduct')
      )

